// Main CSS
html {
  scroll-behavior: smooth;
  // #region Scrollbar styling for General Page
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #464b8c;
  }

  ::-webkit-scrollbar-track {
    background: #293268;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00aaa5;
  }
  // #endregion
}

body {
  font-family: "Comfortaa";
  background-image: url("BackgroundLines.png");
  font-weight: bold;
  // #region Scrollbar styling for General Page
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #909edd;
  }

  ::-webkit-scrollbar-track {
    background: #61699a;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #27d3cb;
  }
  // #endregion
}
.background {
  background-color: #f0f0f0;
  border-style: solid;
  border-color: #293268;
  border-width: 10px;
  border-bottom: 0px;
  border-top: 0px;
}

// General Elements
a {
  color: #ff695a;
  text-decoration: none;
}
a:hover {
  color: #b23c40;
}

h3 {
  color: #464b8c;
}

h4 {
  color: #293268;
  font-weight: bold;
}

p {
  color: #293a42;
}
textarea {
  outline: #293268;
  resize: none;
  height: 12em !important;
}
// .Textarea {
  
// }
.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1%;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: 0%;
  line-height: inherit;
}
.form-control {
  padding-top: 0%;
  height: 0%;
}
.form-control:focus {
  border-color: #27d3cb;
  border-width: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button {
  background-color: #27d3cb;
  color: #f0f0f0;
}
.button:hover {
  background-color: #00aaa5;
  color: #f0f0f0;
}
.Error {
  color: #dd3745;
}
.Warning {
  color:#ffaa6e;
}
// Navigation
.topbar {
  background-color: #3e83d1;
  padding-top: 5px;
  padding-bottom: 5px;
  a {
    font-size: large;
    color: #f0f0f0;
  }
  a:hover {
    color: #f0f0f0;
  }
  ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
  }
}


.sidebar {
  background-color: #293268;
  label { // for highlighter
    color: #f0f0f0;
  }
  // for description maker
  ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    li {
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #6b74b2; 
      a {
        color: #f0f0f0;;
      }
      a:hover {
        color: #c1d9f2;
      }
    }
    li:nth-child(odd) {
      background-color: #7d85ba;
    }
    .RecordStreamli {
      margin-bottom: 15px;
      background-color: #909edd;
    }
    .RecordStreamli:nth-child(odd) {
      margin-bottom: 15px;
      background-color: #909edd;
    }
  }
}
.imgHOTLogo {
  max-width: 250px;
  image-rendering: pixelated;
}
.imgIcon {
  display: inline-block; // so it can sit besides text
  width: 32px !important;
  image-rendering: pixelated;
}
a{
  .imgIcon:hover{
    opacity: 80%;
    }
}

// DescMaker Specific

.CharaGreen {
  color: #8cff9b;
}
.CharaYellow {
  color: #ffaa6e;
}
.CharaRed {
  color: #dd3745;
}

#TwitchClip {
  background-color: #854cbf;
  color: #f0f0f0;
}
#TwitchClip:hover {
  background-color:#5d2f8c;
  color: #f0f0f0;
}

.TimestampClear {
  background-color: #27d3cb;
  color: #f0f0f0;
}
.TimestampClear:hover {
  background-color: #dd3745;
  color: #ffe091;
}

.imgPixel {
  image-rendering: pixelated;
}
.errorImg {
  width: 100px;
  image-rendering: pixelated;
}

// Highlighter

#HighlighForm
{
  div {
    background-color: #6b74b2; 
  }
  div:nth-child(odd) {
    background-color: #7d85ba;
  }
}

#IframePlayerLater { // background behind clip preview player
  background-color: #293268;
}


.ClipLink {
  color: #ff6675;
}
.ClipLink:hover {
  color: #b23c40;
}
.ClipLink:visited {
  color: #854cbf;
}
.ClipLink:visited:hover {
  color: #431e66;
}
.ClipBtn {
  background-color: #27d3cb;
  color: #f0f0f0;
}
.ClipBtn:hover {
  background-color: #009994;
  color: #f0f0f0;
}
// Every Other Element
.Linkbg:nth-child(odd) {
  background-color: #dae0e9;
  .ClipLink {
    color: #dd3745;
  }
  .ClipLink:hover {
    color: #a52639;
  }
  .ClipLink:visited {
    color: #5d2f8c;
  }
  .ClipLink:visited:hover {
    color: #431e66;
  }
  .ClipBtn {
    background-color: #00aaa5;
    color: #f0f0f0;
  }
  .ClipBtn:hover {
    background-color: #007672;
    color: #f0f0f0;
  }
}
// submit button in channel select form
.HighSubmit {
  background-color: #27d3cb;
  color: #f0f0f0;
}
.HighSubmit:hover {
  background-color: #00aaa5;
  color: #f0f0f0;
}
.relativ {
  position: relative;
}
.absolute {
  background-color: #7d85ba;
  position: absolute;
  bottom: 0;
  margin: auto;
  display: block;
  text-align: center;
}
