body {
  font-family: "Comfortaa";
  background-image: url("BackgroundLines.png");
  font-weight: bold;
}

.background {
  background-color: #f0f0f0;
  border-style: solid;
  border-color: #293268;
  border-width: 10px;
  border-bottom: 0px;
  border-top: 0px;
}

a {
  color: #ff695a;
  text-decoration: none;
}

a:hover {
  color: #b23c40;
}

h3 {
  color: #464b8c;
}

h4 {
  color: #293268;
  font-weight: bold;
}

p {
  color: #293a42;
}

textarea {
  outline: #293268;
  resize: none;
  height: 12em !important;
  width: 50em;
}

.form-floating > .form-control:focus,
.form-floating > .form-control:not(:placeholder-shown) {
  padding-top: 1%;
}

.form-floating > .form-control,
.form-floating > .form-select {
  height: 0%;
  line-height: inherit;
}

.form-control {
  padding-top: 0%;
  height: 0%;
}

.form-control:focus {
  border-color: #27d3cb;
  border-width: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button {
  background-color: #27d3cb;
  color: #f0f0f0;
}

.button:hover {
  background-color: #00aaa5;
  color: #f0f0f0;
}

.Error {
  color: #dd3745;
}

.Warning {
  color: #ffaa6e;
}

.topbar {
  background-color: #3e83d1;
  padding-top: 5px;
  padding-bottom: 5px;
}

.topbar a {
  font-size: large;
  color: #f0f0f0;
}

.topbar a:hover {
  color: #f0f0f0;
}

.topbar ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.sidebar {
  background-color: #293268;
}

.sidebar label {
  color: #f0f0f0;
}

.sidebar ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

.sidebar ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #6b74b2;
}

.sidebar ul li a {
  color: #f0f0f0;
}

.sidebar ul li a:hover {
  color: #c1d9f2;
}

.sidebar ul li:nth-child(odd) {
  background-color: #7d85ba;
}

.sidebar ul .RecordStreamli {
  margin-bottom: 15px;
  background-color: #909edd;
}

.sidebar ul .RecordStreamli:nth-child(odd) {
  margin-bottom: 15px;
  background-color: #909edd;
}

.imgHOTLogo {
  max-width: 250px;
}

.CharaGreen {
  color: #8cff9b;
}

.CharaYellow {
  color: #ffaa6e;
}

.CharaRed {
  color: #dd3745;
}

#TwitchClip {
  background-color: #854cbf;
  color: #f0f0f0;
}

#TwitchClip:hover {
  background-color: #5d2f8c;
  color: #f0f0f0;
}

.TimestampClear {
  background-color: #27d3cb;
  color: #f0f0f0;
}

.TimestampClear:hover {
  background-color: #dd3745;
  color: #ffe091;
}

.imgPixel {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.imgIcon {
  width: 28px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.errorImg {
  width: 100px;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

#HighlighForm div {
  background-color: #6b74b2;
}

#HighlighForm div:nth-child(odd) {
  background-color: #7d85ba;
}

.ClipLink {
  color: #91403d;
}

.ClipLink:hover {
  color: #c68961;
}

.ClipLink:visited {
  color: #673d91;
}

.ClipLink:visited:hover {
  color: #ac50a1;
}

.Linkbg {
  background-color: #dae0e9;
}

.HighSubmit {
  background-color: #27d3cb;
  color: #f0f0f0;
}

.HighSubmit:hover {
  background-color: #00aaa5;
  color: #f0f0f0;
}
/*# sourceMappingURL=style.css.map */